body {
  text-align: center;
  font-family: Helvetica;
}

h1 {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 70px;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h4 {
  font-size: 23px;
  font-weight: bold;
  margin: 23px;
}

p {
  font-size: 14px;
}

.bottom {
  background-color: dimgray;
  color: white;
  font-size: 11px;
  text-align: left;
}

.divide {
  color: white;
}

.home,
a {
  color: white;
}

.home a {
  font-size: 18px;
}

.home,
.divide {
  background-image: url("file:///Users/dieterstach/Desktop/Coding_Projects/Broadway_Design/Resources/images/backround_img.png");
}
